{{- $ancestors := .Ancestors -}}
{{- if isset . "Page" -}}
    {{- $ancestors = .Page.Ancestors -}}
{{- end -}}
{{- $textColor := default "text-teal-600" .textColor -}}
{{- $hoverColor := default "hover:text-teal-700" .hoverColor -}}
<nav class="text-sm {{ $textColor }} mb-8 font-medium">
    <a href="/" class="{{ $hoverColor }}">Home</a> /
    {{ range $ancestors.Reverse }}
    {{ if not .IsHome }}
    <a href="{{ .RelPermalink }}" class="{{ $hoverColor }}">{{ .LinkTitle }}</a> /
    {{ end }}
    {{ end }}
</nav>